.button{
  background: #E3E3E3;
  border:0;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 15px;
  padding:12px 30px;
  color:#000;
  cursor: pointer;
}

.primary{
  background: #F4BB4A;
  color: #FFFFFF;
}

.secondary{
  background: #E3E3E3;
  color:#000;
  font-weight: 400;
  width: fit-content;
}

.success{
  background: linear-gradient(90deg, #f7df05, #e1750f);
  color:#191616;
}

.failure{
  background: linear-gradient(90deg, #ed1c09, #dc5516, #c3f326);
  color:#0a0909;
}

.shadow{
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}